[Unit]
Description=Kiosk Service
After=multi-user.target
After=screenon.service
Requires=tabswitch.service
Requires=screenon.service

[Service]
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/sign/.Xauthority
Type=simple
ExecStart=/home/sign/kiosk.py
Restart=always
User=sign
Group=sign

[Install]
WantedBy=multi-user.target
