[Unit]
Description=Screen On Service
Before=kiosk.service

[Service]
ExecStart=/home/sign/screenon.sh
Restart=always
RestartSec=90s

[Install]
WantedBy=multi-user.target
